workflow.json
{
  "id": "pSYBr9L3aq58zNdW",
  "name": "ClinicCortex - WhatsApp AI Agent",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cliniccortex-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "37a84303-80ed-4bb9-ae63-e07d4fb246ef",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1312, 624],
      "webhookId": "e1a10001-cc00-4000-a001-000000000099"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-clinic-id",
              "leftValue": "={{ $json.body.clinicId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-message-text",
              "leftValue": "={{ $json.body.messageText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "49fc32c3-604f-423e-b1ae-f3d83698389e",
      "name": "Validar Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1088, 624]
    },
    {
      "parameters": {
        "url": "={{ ($env.SUPABASE_URL.replace(/\\/$/, '')) + '/rest/v1/clinics?id=eq.' + $('Webhook').first().json.body.clinicId + '&select=id,name,assistant_area,assistant_specialties,assistant_prompt,assistant_personality&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "95c75ed3-e9f7-42ae-9116-d085bea46493",
      "name": "Buscar Clínica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-864, 512]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "clinicId",
              "stringValue": "={{ $('Webhook').first().json.body.clinicId }}"
            },
            {
              "name": "clinicName",
              "stringValue": "={{ $('Buscar Clínica').first().json.name ?? 'Clínica' }}"
            },
            {
              "name": "assistantName",
              "stringValue": "Cortex AI"
            },
            {
              "name": "assistantPersonality",
              "stringValue": "={{ $('Buscar Clínica').first().json.assistant_personality ?? 'executivo' }}"
            },
            {
              "name": "assistantSpecialties",
              "stringValue": "={{ Array.isArray($('Buscar Clínica').first().json.assistant_specialties) && $('Buscar Clínica').first().json.assistant_specialties.length ? $('Buscar Clínica').first().json.assistant_specialties.join(', ') : 'Não informado' }}"
            },
            {
              "name": "patientMessage",
              "stringValue": "={{ $('Webhook').first().json.body.messageText }}"
            },
            {
              "name": "systemPrompt",
              "stringValue": "={{ (() => { const clinic = $('Buscar Clínica').first().json || {}; const clinicName = String(clinic.name || '').trim() || 'Clínica'; const assistantPersonality = String(clinic.assistant_personality || '').trim() || 'executivo'; const specialties = Array.isArray(clinic.assistant_specialties) && clinic.assistant_specialties.length ? clinic.assistant_specialties.join(', ') : 'Não informado'; const basePrompt = String(clinic.assistant_prompt || '').trim() || ('Você é Cortex AI, assistente virtual da ' + clinicName + '. Responda sempre em português do Brasil, com linguagem clara, profissional e objetiva. Nunca invente informações. Se faltar contexto, diga isso com transparência e peça esclarecimentos antes de seguir. Mantenha um tom ' + assistantPersonality + '.'); return [basePrompt, '---', 'REGRAS DE EXECUÇÃO ADICIONAIS', 'Nome oficial da clínica: ' + clinicName, 'Especialidades cadastradas: ' + specialties, '- Ao se apresentar, use o nome oficial da clínica sempre que ele estiver disponível.', '- Se o paciente quiser agendar e ainda não tiver escolhido um serviço ou especialidade, apresente primeiro as opções que você conhece no contexto antes de pedir a preferência.', '- Não peça nome de profissional se o contexto não trouxer uma lista explícita de profissionais cadastrados.', '- Se houver apenas um serviço disponível no contexto, ofereça esse serviço de forma natural.', '- Nunca se apresente apenas como assistente virtual da Clínica quando o nome oficial estiver disponível.'].join('\\n\\n'); })() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6195f8c-0407-4a6e-adb1-24acde94128a",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-640, 512]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.patientMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 4
        }
      },
      "id": "c3e9259e-af5f-456f-90fe-d1ddac0aab4b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-432, 512]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 500,
          "temperature": 0.4
        }
      },
      "id": "2670e376-ac6d-40e1-8fdf-f3b4707e7801",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-432, 736],
      "credentials": {
        "googlePalmApi": {
          "id": "5bshqxgEMV0mUNs6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.clinicId + ':' + ($('Webhook').first().json.body.connectionId ?? 'default') + ':' + $('Webhook').first().json.body.contactWaId }}",
        "contextWindowLength": 16
      },
      "id": "2049c1a9-ca4e-4d1f-a9f7-630a5c77a2c4",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-304, 736]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "replyText",
              "stringValue": "={{ (($json.output || '').trim()) || 'Desculpe, não consegui gerar uma resposta agora.' }}"
            },
            {
              "name": "clinicId",
              "stringValue": "={{ $('Montar Contexto').first().json.clinicId }}"
            },
            {
              "name": "assistantName",
              "stringValue": "={{ $('Montar Contexto').first().json.assistantName }}"
            },
            {
              "name": "contactWaId",
              "stringValue": "={{ $('Webhook').first().json.body.contactWaId ?? '' }}"
            },
            {
              "name": "connectionId",
              "stringValue": "={{ $('Webhook').first().json.body.connectionId ?? '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63659be1-82a6-42d1-aee8-76d642d26de0",
      "name": "Estruturar Saída",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-144, 512]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "cbc9501e-3769-4ef4-bde7-10559992f179",
      "name": "Responder ao WhatsApp",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [16, 512]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "replyText",
              "stringValue": "Desculpe, não consegui processar sua mensagem no momento."
            },
            {
              "name": "error",
              "type": "booleanValue"
            }
          ]
        },
        "options": {}
      },
      "id": "8a0c236e-e85e-4b95-bc58-723bb9ae0f21",
      "name": "Erro de Validação",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-864, 752]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400
        }
      },
      "id": "c3c4ce8e-7fb5-4280-9d38-3e7ba45fb594",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-640, 752]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Payload": {
      "main": [
        [
          {
            "node": "Buscar Clínica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro de Validação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Clínica": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Estruturar Saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estruturar Saída": {
      "main": [
        [
          {
            "node": "Responder ao WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro de Validação": {
      "main": [
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "7609e766-ab35-4eee-8c8a-32c945c0bea1",
  "activeVersionId": "7609e766-ab35-4eee-8c8a-32c945c0bea1",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": []
}
