workflow.json
{
  "name": "ClinicCortex - WhatsApp CortexAI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cliniccortex-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1a10001-cc00-4000-a001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "e1a10001-cc00-4000-a001-000000000099"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-clinic-id",
              "leftValue": "={{ $json.body.clinicId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-message-text",
              "leftValue": "={{ $json.body.messageText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1a10002-cc00-4000-a002-000000000002",
      "name": "Validar Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wvcsatgdwzsrglqlmpix.supabase.co/rest/v1/clinics?id=eq.{{ $('Webhook').first().json.body.clinicId }}&select=id,name,assistant_area,assistant_specialties,assistant_prompt,assistant_personality&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e1a10003-cc00-4000-a003-000000000003",
      "name": "Buscar Clínica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "clinicId",
              "type": "stringValue",
              "stringValue": "={{ $('Webhook').first().json.body.clinicId }}"
            },
            {
              "name": "clinicName",
              "type": "stringValue",
              "stringValue": "={{ $('Buscar Clínica').first().json.name ?? 'Clínica' }}"
            },
            {
              "name": "assistantName",
              "type": "stringValue",
              "stringValue": "CortexAI"
            },
            {
              "name": "assistantPersonality",
              "type": "stringValue",
              "stringValue": "={{ $('Buscar Clínica').first().json.assistant_personality ?? 'executivo' }}"
            },
            {
              "name": "assistantSpecialties",
              "type": "stringValue",
              "stringValue": "={{ Array.isArray($('Buscar Clínica').first().json.assistant_specialties) && $('Buscar Clínica').first().json.assistant_specialties.length ? $('Buscar Clínica').first().json.assistant_specialties.join(', ') : 'Não informado' }}"
            },
            {
              "name": "patientMessage",
              "type": "stringValue",
              "stringValue": "={{ $('Webhook').first().json.body.messageText }}"
            },
            {
              "name": "systemPrompt",
              "type": "stringValue",
              "stringValue": "={{ (() => { const clinic = $('Buscar Clínica').first().json || {}; const clinicName = String(clinic.name || '').trim() || 'Clínica'; const assistantPersonality = String(clinic.assistant_personality || '').trim() || 'executivo'; const specialties = Array.isArray(clinic.assistant_specialties) && clinic.assistant_specialties.length ? clinic.assistant_specialties.join(', ') : 'Não informado'; const basePrompt = String(clinic.assistant_prompt || '').trim() || ('Você é CortexAI, assistente virtual da ' + clinicName + '. Responda sempre em português do Brasil, com linguagem clara, profissional e objetiva. Nunca invente informações. Se faltar contexto, diga isso com transparência e peça esclarecimentos antes de seguir. Mantenha um tom ' + assistantPersonality + '.'); return [basePrompt, '---', 'REGRAS DE EXECUÇÃO ADICIONAIS', 'Nome oficial da clínica: ' + clinicName, 'Especialidades cadastradas: ' + specialties, '- Ao se apresentar, use o nome oficial da clínica sempre que ele estiver disponível.', '- Se o paciente quiser agendar e ainda não tiver escolhido um serviço ou especialidade, apresente primeiro as opções que você conhece no contexto antes de pedir a preferência.', '- Não peça nome de profissional se o contexto não trouxer uma lista explícita de profissionais cadastrados.', '- Se houver apenas um serviço disponível no contexto, ofereça esse serviço de forma natural.', '- Nunca se apresente apenas como assistente virtual da Clínica quando o nome oficial estiver disponível.'].join('\\n\\n'); })() }}"
            }
          ]
        },
        "include": "all",
        "options": {}
      },
      "id": "e1a10005-cc00-4000-a005-000000000005",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [860, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.patientMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 4
        }
      },
      "id": "e1a10006-cc00-4000-a006-000000000006",
      "name": "CortexAI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 500,
          "temperature": 0.4
        }
      },
      "id": "e1a10011-cc00-4000-a011-000000000011",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "5bshqxgEMV0mUNs6",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "position": [1080, 520]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.clinicId + ':' + ($('Webhook').first().json.body.connectionId ?? 'default') + ':' + $('Webhook').first().json.body.remoteJid }}",
        "contextWindowLength": 16
      },
      "id": "e1a10012-cc00-4000-a012-000000000012",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1280, 520]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "replyText",
              "type": "stringValue",
              "stringValue": "={{ (($json.output || '').trim()) || 'Desculpe, não consegui gerar uma resposta agora.' }}"
            },
            {
              "name": "clinicId",
              "type": "stringValue",
              "stringValue": "={{ $('Montar Contexto').first().json.clinicId }}"
            },
            {
              "name": "assistantName",
              "type": "stringValue",
              "stringValue": "={{ $('Montar Contexto').first().json.assistantName }}"
            },
            {
              "name": "remoteJid",
              "type": "stringValue",
              "stringValue": "={{ $('Webhook').first().json.body.remoteJid ?? '' }}"
            },
            {
              "name": "connectionId",
              "type": "stringValue",
              "stringValue": "={{ $('Webhook').first().json.body.connectionId ?? '' }}"
            }
          ]
        },
        "include": "all",
        "options": {}
      },
      "id": "e1a10007-cc00-4000-a007-000000000007",
      "name": "Estruturar Saída",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e1a10008-cc00-4000-a008-000000000008",
      "name": "Responder ao WhatsApp",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "replyText",
              "type": "stringValue",
              "stringValue": "Desculpe, não consegui processar sua mensagem no momento."
            },
            {
              "name": "error",
              "type": "booleanValue",
              "booleanValue": "true"
            }
          ]
        },
        "include": "all",
        "options": {}
      },
      "id": "e1a10009-cc00-4000-a009-000000000009",
      "name": "Erro de Validação",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [640, 540]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 400
        }
      },
      "id": "e1a10010-cc00-4000-a010-000000000010",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 540]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Payload": {
      "main": [
        [
          {
            "node": "Buscar Clínica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro de Validação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Clínica": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "CortexAI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CortexAI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "CortexAI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "CortexAI Agent": {
      "main": [
        [
          {
            "node": "Estruturar Saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estruturar Saída": {
      "main": [
        [
          {
            "node": "Responder ao WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro de Validação": {
      "main": [
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "e1a10000-cc00-4000-a000-000000000001"
}
